<ion-header [translucent]="false">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <a routerLink="/home"><img class="botao-img" src="../../assets/img/BotaoVoltar.png"/></a>
    <div>
      <ion-img class="gov" src="../../assets/img/gov.br.png"></ion-img>
    </div>
    <ion-item-divider class="line"></ion-item-divider>

  </ion-header>

  <div class="cadastro-text">
    <ion-subtitle class="xetelba" size="large"><strong>CADASTRE-SE NA XETELBA.GOV</strong></ion-subtitle> <br><br>
    <ion-input type="text" [(ngModel)]="nome" class="input" placeholder="Nome Completo"></ion-input>
    <ion-input type="text" [(ngModel)]="cpf" class="input" placeholder="CPF"></ion-input>
    <ion-input type="password" [(ngModel)]="senha" class="input" placeholder="Senha"></ion-input>
    <ion-input type="text" [(ngModel)]="estado" class="input" placeholder="Estado"></ion-input>
    <ion-input type="text" [(ngModel)]="cidade" class="input" placeholder="Cidade"></ion-input>
    <ion-input type="text" [(ngModel)]="bairro" class="input" placeholder="Bairro"></ion-input>
    <ion-input type="text" [(ngModel)]="email" class="input" placeholder="Email"></ion-input>
    <ion-button (click)="createEleitor({nome, cpf, senha, estado, cidade, bairro, email})" class="input-btn" type="submit">Cadastrar</ion-button> <br><br><br><br><br><br><br><br>
    <ion-subtitle class="alinhamento"><img class="sobre-img" src="../../assets/img/sobre.png"/><a routerLink="/sobre" class="sobre"><i><strong>Sobre o aplicativo</strong></i></a></ion-subtitle>
  </div>

</ion-content>
