.botao-img {
    position: relative;
    bottom: 15px;
    left: 30px;
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .titulo-sobre {
    text-align:center;
    position: relative;
    top: 20px;
  }
  