<ion-header [translucent]="false">

</ion-header>
<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <a routerLink="/home"><img class="botao-img" src="../../assets/img/BotaoVoltar.png"/></a>
      <div>
        <ion-img class="gov" src="../../assets/img/gov.br.png"></ion-img>
      </div>
      <ion-item-divider class="line"></ion-item-divider>
  </ion-header>

  <div>
    <audio id="player" src="../../assets/music/Som de Urna Eletrônica.mp3" autoplay>
      <p>Seu navegador não suporta a tag audio.</p>
    </audio>
    <h1 class="fim">FIM</h1>
  </div>
</ion-content>
