<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre o aplicativo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre o aplicativo</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->

  <ion-card>
    <ion-img src="../../assets/img/urna.webp"></ion-img>
    <ion-card-header>
      <ion-card-title> Urna Eletrônica</ion-card-title>
      <ion-card-subtitle>Eleições 2022</ion-card-subtitle>
    </ion-card-header>    
    <ion-card-content>
      Este aplicativo foi desenvolvido por: 
      <ion-list>
        <ion-item>
          <ion-grid>                      
            <ion-img src="../../assets/img/ApresentaçãoMobile-removebg-preview.png"></ion-img>
            <ion-row>      
              <ion-col class="label" size="6">
                <ion-label>Bruno Brilhante</ion-label>
                <ion-label>Renan Guimarães</ion-label>
                <ion-label>Cássio Menezes</ion-label>                
              </ion-col>
              <ion-col class="label" size="6">
                <ion-label>João Gabriel</ion-label>
                <ion-label>Kassia Ingrid</ion-label>
                <ion-label>Vinicius Andrade</ion-label>
                <ion-label>Anderson Ferreira</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>        
      </ion-list>
    </ion-card-content>
  </ion-card>  

</ion-content>
