.lines {
  border-right: 1px solid blue;
  border-bottom: 1px solid blue;
  background-size: calc(720px / 18) calc(720px / 18);
  background-image:
      linear-gradient(to right, grey 1px, transparent 1px),
      linear-gradient(to bottom, grey 1px, transparent 1px);
}

.gov {
  max-height: 10rem;
  max-width: 10rem;
  position: relative;
  left: 7.5rem;
  bottom: 1rem;
  display: grid;
}

.eleicoes{
  position: relative;
  bottom: 4rem;
}

.botao-voltar {
  position: relative;
  bottom: 3rem;
  left: 1rem;
  display: grid;
  width: 2rem;
  height: 2rem;
}

.login-text{
  position: relative;
  left: 4rem;
  color: black;
  bottom: 4rem;
}

.mini-card{
  position: relative;
  top: 0.4rem;
  width: 1.5rem;
  height: 1.5rem;
}
