.gov {
  max-height: 10rem;
  max-width: 10rem;
  position: relative;
  left: 7.5rem;
  bottom: 1rem;
  display: grid;
}

.eleicoes{
  position: relative;
  bottom: 4rem;
  max-width: 400px;
  max-height: 400px;
}

.sobre-img{
  position: relative;
  top: 0.4rem;
  width: 1.5rem;
  height: 1.5rem;
}

.botao-voltar {
  position: relative;
  bottom: 3rem;
  left: 1rem;
  display: grid;
  width: 2rem;
  height: 2rem;
}

.login-text{
  position: relative;
  left: 4rem;
  color: black;
  bottom: 5rem;
}

.mini-card{
  position: relative;
  top: 0.4rem;
  width: 1.5rem;
  height: 1.5rem;
}

.input {
  border: solid 1px #0031AE;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  margin-top: 20px;
}

.input-btn {
  border: solid 1px #0031AE;
  border-radius: 11px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom: solid 10px #0031AE;
  border-right: solid 8px #0031AE;
  width: 160px;
  text-align: center;
  margin-top: 20px;
  position: relative;
  left: 60px;
  color: #0031AE !important;
  --background: white;
}

.line {
  background-color: white;
  max-height: 1px !important;
  position: relative;
  width: 100%;
  border-top: solid 1px #0031AE;
}

.cadastro {
  text-decoration: underline;
  color: black;
  transition: ease-in-out 0.4s;
  position: relative;
}

.cadastro:hover{
  color: #0031AE;
  transition: ease-in-out 0.4s;
}

.sobre {
  color: black;
  transition: ease-in-out 0.4s;
}

.sobre:hover {
  color: #0031AE;
  transition: ease-in-out 0.4s;
}

.text-cadastro {
  position: relative;
  right: 10px;
}

.alinhamento {
  position: relative;
  left: 55px;
}
