<ion-header [translucent]="false">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <div>
      <ion-img class="gov" src="../../assets/img/gov.br.png"></ion-img>
    </div>
    <ion-content class="lines"></ion-content>
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
    <ion-img src="../../assets/img/Eleicao2022.png" class="eleicoes"></ion-img>

    <ion-content class="login-text">
      <ion-subtitle size="large" ><strong>IDENTIFIQUE-SE NO GOV.COM.BR</strong></ion-subtitle> <br>
      <ion-subtitle size="large"><img class="mini-card" src="../../assets/img/miniCard.png"/> Número do CPF ou título de eleitor</ion-subtitle>
    </ion-content>

</ion-content>
